html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f8f3;
}

.login__panel {
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  width: 300px;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 40;
  text-align: center;
  background: #191919;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.shopping-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #6e774a;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  width: 450px;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9;
  text-align: center;
  -webkit-transform: translate(-20%, -50%) scale(0);
          transform: translate(-20%, -50%) scale(0);
  border-radius: 15px;
}

.shopping-list.active {
  -webkit-transform: translate(-20%, -50%) scale(1);
          transform: translate(-20%, -50%) scale(1);
}

.buyItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.bottomOfList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purchase {
  color: white;
  font-size: 28px;
  background-color: #6e774a;
  border: none;
  background-color: #282828;
  border-radius: 8px;
  padding: 15px 10px;
}

.purchase::after {
  width: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 452px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item__content {
  color: white;
}

.item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__bottle-image {
  background-image: url("./images/smallBottle.png");
  width: 35px;
  height: 77px;
}

.item__image {
  width: 35px;
  height: 62px;
  background-size: cover;
}

.item__pack-image {
  background-image: url("./images/smallPack.png");
  width: 51px;
  height: 62px;
  background-size: cover;
}

.item__package-image {
  background-image: url("./images/smallPackage.png");
  width: 42px;
  height: 73px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
}

.item__input {
  width: 30px;
  height: 25px;
  border-radius: 2px;
  border: none;
  color: #191919;
}

.item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff726f;
  border: none;
  text-transform: uppercase;
  padding: 10px 5px;
  border-radius: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item__content {
  margin: 10px 0;
}

.item__name {
  margin-right: 30px;
}

.item__content::after {
  width: 0;
}

.total {
  border-top: 1px solid white;
  font-size: 24px;
  color: white;
  margin-left: 150px;
}

.login__panel.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.login__panel h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.login__panel input {
  border: none;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 30px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.login__panel input[type="login"]:focus,
.login__panel input[type="password"]:focus {
  width: 280px;
  border-color: #6e774a;
}

.login__panel input[type="submit"] {
  border-color: #6e774a;
  cursor: pointer;
}

.login__panel input[type="submit"]:hover {
  background: #6e774a;
}

#overlay {
  position: fixed;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.section {
  width: 100%;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container--first {
  background-image: url("images/intro.png");
  height: 100vh;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid white;
  position: fixed;
  z-index: 2;
  background-color: transparent;
  -webkit-transition: 750ms ease;
  transition: 750ms ease;
}

.scrolled {
  background-color: #282828;
}

.hamburger {
  width: 38px;
  height: 43px;
  background-image: url("./svg/bars-solid.svg");
  display: none;
  margin-left: 20px;
  cursor: pointer;
}

.menu-btn {
  display: none;
}

.menu-btn__container {
  padding-left: 20px;
  padding-bottom: 30px;
}

.manage-icon {
  background-image: url("./svg/comment-dots-solid.svg");
  width: 38px;
  height: 38px;
  display: none;
  margin-right: 20px;
  cursor: pointer;
}

.cross {
  background-image: url("./svg/times-solid.svg");
  width: 29px;
  height: 43px;
}

.shop-btn {
  display: none;
}

.menu,
.manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  font-size: 26px;
  margin: 0 auto;
}

.menu .paragraph,
.manage .paragraph {
  text-transform: uppercase;
  color: white;
  padding: 0 20px 0 20px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.manage .paragraph {
  border-left: 1px solid white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 26px;
  position: relative;
}

.close-modal {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.login {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.blockw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.paragraph {
  cursor: pointer;
}

.arrow-m {
  cursor: pointer;
}

.logining {
  color: white;
  text-transform: uppercase;
  padding-right: 40px;
  font-size: 20px;
  cursor: pointer;
}

.content {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 1024px;
}

.content .title {
  font-size: 48px;
  color: white;
  width: 60%;
  text-align: right;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.content .subtitle {
  color: white;
  font-size: 20px;
  text-align: right;
  width: 60%;
  letter-spacing: 3px;
}

.content .button {
  text-align: right;
  width: 60%;
}

.content button {
  background-color: transparent;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 40px;
  border-top: 0.3px solid white;
  border-bottom: 0.3px solid white;
  padding: 20px 60px 20px 35px;
}

.content .button--prod {
  border-top: none;
  margin: 0;
  cursor: pointer;
  outline: #6e774a;
}

.content .option {
  margin-top: 25px;
  letter-spacing: 5px;
  color: white;
  opacity: 0.8;
  font-size: 14px;
  text-align: right;
  width: 60%;
  padding-right: 20px;
}

.content .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  width: 100%;
}

button::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 20%;
  margin-right: -20%;
  margin-left: 20px;
  border-top: 2px solid white;
}

.button--prod::after {
  width: 60%;
  margin-right: -60%;
}

.arrow {
  background-image: url("svg/long-arrow-alt-right-solid.svg");
  width: 20px;
  height: 24px;
  margin-top: 25px;
  margin-right: 60px;
}

.down-text {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
  color: white;
  position: absolute;
  bottom: 180px;
  left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  letter-spacing: 2px;
  font-weight: bold;
}

.down-text .line {
  position: absolute;
  height: 2px;
  background-color: white;
  width: 67px;
  bottom: 9px;
  right: 230px;
}

.content--production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1024px;
  margin-top: 0;
}

.content__main {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.natural__product {
  background-image: url("images/holder__logos.jpg");
  width: 690px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  height: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.natural__logos {
  background-image: url("images/Logos.png");
  width: 507px;
  height: 60px;
}

.text {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 21px;
  margin-bottom: 20px;
}

.text--margin {
  margin-bottom: 25px;
}

.content .production__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #6e774a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__text {
  width: 40%;
}

.content__text .description {
  color: #6e774a;
}

.description__text {
  padding: 10px 0;
  line-height: 30px;
}

h2 {
  padding: 10px 40px;
}

.photos {
  width: 60%;
  margin-left: 100px;
}

.photos .photo__mountain {
  background-image: url("./images/Img1.png");
  width: 100%;
  height: 300px;
  background-size: cover;
  margin-bottom: 20px;
}

.photos .photo__mais {
  background-image: url("./images/Img2.png");
  width: 100%;
  height: 300px;
  background-size: cover;
}

.bigmargin {
  margin-bottom: 100px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "products__first products__second products__third";
  grid-gap: 30px;
  height: 500px;
  width: 100%;
}

.product__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  height: 408px;
}

.product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f1f1f1;
}

.product__button {
  background-size: 200%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 5px;
}

.product__button {
  background-image: -webkit-gradient(linear, right top, left top, from(#8e9c56), color-stop(#555c37), to(#8e9c56));
  background-image: linear-gradient(to left, #8e9c56, #555c37, #8e9c56);
}

.product__button:hover {
  background-position: right;
}

.products__first {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: products__first;
  border: 1px #6e774a;
  width: 400px;
  margin: 0 20px;
}

.products__text {
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 30px 30px;
}

.products__second {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: products__second;
  border: 1px #6e774a;
  width: 400px;
  margin: 0 20px;
}

.products__first .image {
  background-image: url("./images/product_bottle.png");
  width: 122px;
  height: 260px;
}

.products__second .image {
  background-image: url("./images/product_pack.png");
  width: 189px;
  height: 227px;
}

.products__third .image {
  background-image: url("./images/product_package.png");
  width: 145px;
  height: 253px;
}

.products__third {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: products__third;
  border: 1px #6e774a;
  width: 400px;
  margin: 0 20px;
}

.stars {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.star {
  background-image: url("./svg/star-solid.svg");
  width: 22px;
  height: 20px;
}

.price {
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  padding: 20px 40px 20px 0;
  color: #6e774a;
  border-top: 1px solid #6e774a;
  cursor: pointer;
}

.mediummargin {
  margin-bottom: 50px;
}

.question--last {
  border-bottom: 1px solid #6e774a;
}

.plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  margin-right: 20px;
  height: 20px;
  background-image: url("./svg/plus-solid.svg");
}

.content--marign {
  margin-bottom: 250px;
}

.section--fourth {
  background-image: url("./images/footer.png");
}

.container--fourth {
  background-image: url("./images/Transparent.png");
  width: 100%;
  height: 800px;
  position: relative;
}

.content--height {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.some-text {
  color: white;
  line-height: 30px;
  width: 65%;
  letter-spacing: 2px;
  margin-bottom: 70px;
}

.authur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

.authur__line {
  border-top: 2px solid white;
  width: 40px;
  margin-right: 10px;
}

.arrow__manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid white;
}

.manager--absolute {
  position: absolute;
  bottom: 715px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
}

.arrow__container--right {
  border-left: 1px solid white;
}

.arrow-m {
  width: 23px;
  height: 26px;
  margin: 30px 60px;
}

.arrow__left {
  background-image: url("./svg/arrow-left-solid.svg");
}

.arrow__right {
  background-image: url("./svg/arrow-right-solid.svg");
}

.arrow__manager--production {
  margin-top: 0;
  border: none;
}

.arrow__green--left {
  background-image: url("./svg/arrow-left-solidGreen.svg");
}

.arrow__green--right {
  background-image: url("./svg/arrow-right-solidGreen.svg");
}

.down-text--pictured {
  left: -10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-weight: normal;
  bottom: 100px;
  opacity: 0.7;
}

.logo--footer {
  font-size: 45px;
  color: #6e774a;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
}

.content__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social {
  height: 22px;
  width: 22px;
  margin: 20px 25px;
}

.facebook {
  background-image: url("./svg/facebook-f-brands.svg");
  width: 15px;
}

.twitter {
  background-image: url("./svg/twitter-brands.svg");
}

.youtube {
  background-image: url("./svg/youtube-brands.svg");
}

.info__text--first {
  padding-top: 60px;
}

.info__text {
  color: #6e774a;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.paragraph:hover {
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}

.info {
  width: 270px;
  border-top: 3px solid #6e774a;
  position: relative;
}

.info__popup {
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-transform: translate(0%, 0%) scale(0);
          transform: translate(0%, 0%) scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6e774a;
  color: white;
  font-size: 19px;
  position: absolute;
  top: 10px;
  z-index: 5;
  border-radius: 15px;
  width: 350px;
  height: 50px;
  left: -30px;
}

.info__popup.active {
  -webkit-transform: translate(0%, 0%) scale(1);
          transform: translate(0%, 0%) scale(1);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.footer--btn {
  border: 1px solid #6e774a;
  color: #6e774a;
  text-align: left;
  letter-spacing: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  padding: 20px 60px;
  margin-top: 20px;
}

.arrow-footer {
  width: 20px;
  height: 23px;
}

.copyright {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #6e774a;
  font-weight: bold;
  letter-spacing: 2px;
}

.border {
  height: 100px;
  position: absolute;
  border-left: 2px solid #6e774a;
  top: 130px;
}

.menu-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: left;
  position: absolute;
  left: 0;
  z-index: 1;
  top: 80px;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-active {
  background: -webkit-gradient(linear, left top, right top, from(#282828), to(rgba(40, 40, 40, 0)));
  background: linear-gradient(to right, #282828, rgba(40, 40, 40, 0));
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}

.shop-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: left;
  position: absolute;
  right: 0;
  background-color: #282828;
  top: 80px;
  z-index: 1;
}

.menu-active .paragraph {
  padding: 40px 20px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.shop-active .paragraph {
  padding: 20px 20px;
  text-transform: uppercase;
  background-color: transparent;
}

.is-activated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.is-activated::after {
  content: "Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States. ";
  color: black;
  width: 500px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: bold;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-name {
  cursor: pointer;
  color: black;
}

.is-highlated {
  background-color: wheat;
  border-bottom: 5px solid #282828;
  border-radius: 5px;
}

.tab-content {
  display: none;
}

.changed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second__photo {
  background-image: url("./images/2river.jpg");
  height: 300px;
  width: 100%;
  background-size: cover;
  margin-bottom: 20px;
  -webkit-transition: 750ms ease;
  transition: 750ms ease;
}

.second__photo--down {
  background-image: url("./images/2road.jpg");
}

.third__photo {
  background-image: url("./images/3lake.jpg");
  height: 300px;
  width: 100%;
  background-size: cover;
  margin-bottom: 20px;
}

.third__photo--down {
  background-image: url("./images/3stairs.jpg");
}

.natural__logosDown {
  display: none;
}

.section--last {
  position: relative;
}

.email {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 20px;
  color: #6e774a;
}

.footer-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form.footer-submit input[type="submit"] {
  display: none;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 1150px) {
  .info__popup.active {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    width: 100%;
    left: -15px;
  }
}

@media screen and (max-width: 1050px) {
  .natural__container {
    width: 90%;
  }
  .info__popup--right.active {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    left: 0;
  }
  .info__popup--left.active {
    -webkit-transform: translate(50%, -150%) scale(1);
            transform: translate(50%, -150%) scale(1);
    left: 0;
  }
}

@media screen and (max-width: 1040px) {
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .shopping-list.active {
    -webkit-transform: translate(-40%, -50%) scale(1);
            transform: translate(-40%, -50%) scale(1);
  }
}

@media screen and (max-width: 800px) {
  .content__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photos {
    margin: 0;
    width: 100%;
    margin: 0 auto;
  }
  .content__text {
    width: 100%;
    text-align: center;
  }
  .changed {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 710px) {
  .natural__product {
    width: 100%;
  }
  h2 {
    font-size: 22px;
    padding: 10px 20px;
  }
  .content .title {
    font-size: 39px;
  }
  .natural__product {
    background-image: none;
  }
  .manager--absolute {
    bottom: 780px;
  }
  .shopping-list.active {
    -webkit-transform: translate(-40%, -50%) scale(1);
            transform: translate(-40%, -50%) scale(1);
    width: 350px;
  }
}

@media screen and (max-width: 620px) {
  .questions {
    width: 90%;
  }
  .is-activated::after {
    margin-left: 20px;
    width: 250px;
  }
}

@media screen and (max-width: 550px) {
  .border {
    display: none;
  }
  .shopping-list.active {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    width: 300px;
  }
  .row {
    width: 300px;
  }
  .item {
    margin: 0 10px;
  }
  .total {
    font-size: 22px;
  }
}

@media screen and (max-width: 515px) {
  .manager--absolute {
    bottom: 860px;
  }
}

@media screen and (max-width: 500px) {
  .products__first {
    width: 100%;
    margin: 0;
  }
  .products__second {
    width: 100%;
    margin: 0;
  }
  .products__third {
    width: 100%;
    margin: 0;
  }
  .manage {
    display: none;
  }
  .manage-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .input {
    width: 200px;
    height: 30px;
  }
}

@media screen and (max-width: 540px) {
  .natural__logos {
    background-image: url("./images/1LOGOS.png");
    width: 259px;
    height: 84px;
  }
  .natural__logosDown {
    display: block;
    background-image: url("./images/2LOGOS.png");
    width: 247px;
    height: 72px;
  }
  .down-text--pictured {
    left: -30px;
    bottom: 222px;
  }
}

@media screen and (max-width: 470px) {
  .content .title {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
    padding: 5px 10px;
  }
  .text {
    font-size: 18px;
    text-align: center;
  }
  .manager--absolute {
    bottom: 885px;
  }
  .info {
    border: none;
  }
  .content__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer--btn {
    width: 80%;
    padding: 10px 20px;
  }
  .info__popup.active {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    left: 0;
  }
  .email {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  .down-text {
    left: -75px;
  }
  .down-text--pictured {
    left: -60px;
  }
  .plus {
    width: 24px;
    margin-left: 10px;
  }
  .plus--responsive--1 {
    width: 35px;
  }
  .plus--responsive {
    width: 30px;
  }
  .content .option {
    padding-right: 0;
    font-size: 11px;
  }
  .login__panel {
    width: 200px;
  }
  .login__panel input {
    width: 150px;
  }
  .shopping-list.active {
    width: 220px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  .row {
    width: 200px;
  }
  .item {
    margin: 0 3px;
  }
  .item__name {
    margin-right: 0;
  }
  .total {
    font-size: 20px;
    margin-left: 10px;
  }
  .purchase {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
  }
}

.login__panel input[type="login"]:focus,
.login__panel input[type="password"]:focus {
  width: 180px;
}

@media screen and (min-width: 900px) {
  .menu-active {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .shop-active {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .shop-active {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .content .title {
    font-size: 23px;
  }
  .content button {
    margin-top: 20px;
    padding: 10px 40px 10px 15px;
  }
}
/*# sourceMappingURL=main.css.map */